body {
    background-image: linear-gradient(to bottom , red, rgb(0, 4, 255));
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}
img {
    height: auto;
    position: static;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }